<ion-content>
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <form [formGroup]="loginForm" (submit)="login()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
        <span *ngIf="loginForm.controls.email.errors.required && loginForm.controls.email.errors.email" class="error-message">Это обязательное поле</span>
        <span *ngIf="!loginForm.controls.email.errors.required && loginForm.controls.email.errors.email" class="error-message">Вы ввели некорректный email</span>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
        <span *ngIf="loginForm.controls.password.errors.required" class="error-message">Это обязательное поле</span>
      </ion-item>
      <div padding>
        <button [disabled]="!loginForm.valid"  ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>
    </ion-list>
  </form>

  <div padding>
    <button ion-button color="primary" clear (click)="signup()" >Регистрация</button>
    <button ion-button color="primary" clear (click)="signup()" >Забыли пароль?</button>
  </div>
</ion-content>
