<ion-header>

  <ion-navbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons *ngIf="isSettingsPage" end>
      <button ion-button icon-only ion-log-out (click)="logout()">
        <ion-icon name='log-out'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label floating>{{'Email' | translate}}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'NAME' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>



      <ion-item>
        <ion-label floating>Организация</ion-label>
        <ion-input type="text" [(ngModel)]="account.organization" name="organization"></ion-input>
      </ion-item>

      <!--
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label floating>Город</ion-label>
        <ion-input type="text" [(ngModel)]="account.city" name="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Улица</ion-label>
        <ion-input type="text" [(ngModel)]="account.street" name="street"></ion-input>
      </ion-item>

      <ion-item>
        <button class="detect-position" (click)="detectPosition()" ion-button color="secondary" block>Определить местоположение</button>
      </ion-item>

      <ion-item *ngIf="!isSettingsPage">
        <ion-label fixed>{{'PASSWORD' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isSettingsPage">
        <ion-label floating>Подтвердить Пароль</ion-label>
        <ion-input type="password" [(ngModel)]="account.passwordConf" name="confirmPassword"></ion-input>
      </ion-item>

      <div padding *ngIf="!isSettingsPage">
        <button  (click)="signup()" ion-button color="primary" block>{{'SIGNUP' | translate}}</button>
      </div>

      <div padding *ngIf="isSettingsPage">
        <button (click)="updateUser()" ion-button color="primary" block>Обновить</button>
      </div>

    </ion-list>
  </form>
</ion-content>
